html {
  scroll-behavior: smooth;
}

header,
footer {
  background-color: rgb(223, 36, 36);
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  color: whitesmoke;
  padding: 2rem;
  height: 20vh;
}

.nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(158, 27, 27);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto";
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rowzapas {
  display: flex;
  height: 75vh;
}

.zapas1 {
  height: 100%;
  width: 50%;
  background-image: url("img/zapas1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.zapas2 {
  height: 100%;
  width: 50%;
  background-image: url("img/zapas2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.zapas3 {
  height: 100%;
  width: 50%;
  background-image: url("img/zapas3.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.descripcion {
  height: 80%;
  width: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  font-family: "Roboto";
}

.vermas {
  padding: 1rem;
  background-color: rgb(158, 27, 27);
  color: white;
  border-radius: 2px;
}

.footinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto";
  color: whitesmoke;
  padding: 1rem;
}

.copy {
  font-size: 1rem;
  margin: 0;
}

.linksfoot {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .nav {
    height: 80vh;
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto";
    color: white;
    box-sizing: border-box;
  }

  a {
    font-size: 2rem;
    font-weight: bold;
  }

  .rowzapas {
    display: flex;
    flex-direction: column;
    height: 130vh;
    border-top: 1px dotted red;
  }
  .linksfoot {
    display: none;
  }

  .descripcion {
    width: auto;
    font-size: 1.5rem;
  }

  .zapas1,
  .zapas2,
  .zapas3 {
    width: 100%;
    background-size: contain;
  }

  .zapastitle {
    text-align: center;
  }
}
